# ==========================
# NODE MODULES
# ==========================
node_modules/
client/node_modules/
server/node_modules/

# ==========================
# ENV FILES
# ==========================
.env
server/.env
client/.env

# ==========================
# LOG FILES
# ==========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================
# BUILD FILES
# ==========================
dist/
build/
client/dist/
server/dist/

# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VSCODE
# ==========================
.vscode/

# ==========================
# TEMP FILES
# ==========================
*.tmp
*.temp

